[data-theme='dark'] {
  // BACKGORUND IMAGES
  --Mobile-bg: var(--Dt-mobile-bg);
  --Desktop-bg: var(--Dt-desktop-bg);
  // COLORS
  --Boxshadow: var(--Dt-boxshadow);
  --Body-bg: var(--Dt-body-bg);
  --Todos: var(--Dt-todos);
  --Text: var(--Dt-text);
  --Completed: var(--Dt-completed);
  --Footer-text: var(--Dt-footer-text);
  --Text-hover: var(--Dt-textHover);
}
