:root {
  --Mobile-bg: url('../../assets/bg-mobile-light.jpg');
  --Desktop-bg: url('../../assets/bg-desktop-light.jpg');
  --Dt-mobile-bg: url('../../assets/bg-mobile-dark.jpg');
  --Dt-desktop-bg: url('../../assets/bg-desktop-dark.jpg');
}
