@use '../utils/' as u;
.new-todo {
  background-color: var(--Todos);
  color: var(--Text);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: var(--Boxshadow) 0px 5px 15px;
  width: u.rem(540);
  margin-top: 2.4rem;
  .circle {
    background: linear-gradient(var(--Todos), var(--Todos)) padding-box,
      var(--Completed) border-box;
    width: u.rem(25);
    height: u.rem(25);
    border-radius: 5rem;
    border: 2px solid transparent;
    margin-right: u.rem(18);
  }
  input {
    font-family: inherit;
    background-color: var(--Todos);
    color: var(--Text);
    border: none;
    width: 100%;
    font-size: u.rem(18);
    padding: u.rem(5);
    caret-color: var(--Active);
    outline: none;
  }
}
@include u.breakpoint-down(small) {
  .new-todo {
    width: 85%;
    min-width: 300px;
    max-width: u.rem(540rem);
    height: u.rem(46);
    padding: 0.5rem 1.3rem;
    .circle {
      width: u.rem(20);
      height: u.rem(20);
    }
    input {
      font-size: u.rem(13);
    }
  }
}
