@use "../utils/" as u;
@forward "todo-footer";
.todo-comp {
  background-color: var(--Dt-todos);
  margin: u.rem(20);
  width: u.rem(540);
  color: var(--Dt-text);
  border-radius: 5px;
  box-shadow: var(--Boxshadow) 0px 25px 25px;
  .no-items {
    color: var(--Dt-text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
  }
  .todo {
    display: flex;
    padding: 1.2rem 1.5rem;
    &:hover .del-btn,
    &__desc {
      cursor: pointer;
    }
    &:hover .del-btn {
      display: block;
    }
    &__checkbox {
      background: linear-gradient(var(--Dt-todos), var(--Dt-todos)) padding-box,
        var(--Completed) border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: u.rem(25);
      height: u.rem(25);
      border-radius: 5rem;
      border-radius: 5rem;
      border: 2px solid transparent;
      margin-right: u.rem(25);
      &:hover {
        cursor: pointer;
        background: linear-gradient(var(--Dt-todos), var(--Dt-todos))
            padding-box,
          linear-gradient(to left, var(--Grad-purple), var(--Grad-blue))
            border-box;
      }
    }
    &__desc {
      font-size: u.rem(18);
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    .del-btn {
      display: none;
    }
  }
  .completed {
    .todo__checkbox {
      background: linear-gradient(
            to right,
            var(--Grad-purple),
            var(--Grad-blue)
          )
          padding-box,
        linear-gradient(to right, var(--Grad-purple), var(--Grad-blue))
          border-box;
    }
    .todo__desc {
      color: var(--Completed);
      text-decoration: line-through;
    }
  }
}
