@use '../utils/' as u;
@forward 'todo-footer';
.todo-comp {
  background-color: var(--Todos);
  margin: u.rem(20);
  width: u.rem(540);
  color: var(--Text);
  border-radius: 5px;
  box-shadow: var(--Boxshadow) 0px 25px 25px;
  .no-items {
    color: var(--Text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
  }
  .todo {
    display: flex;
    padding: 1rem 1.5rem;
    min-height: u.rem(20);
    &:hover .del-btn,
    &__desc {
      cursor: pointer;
    }
    &:hover .del-btn {
      visibility: visible;
    }
    &__checkbox {
      background: linear-gradient(var(--Todos), var(--Todos)) padding-box,
        var(--Completed) border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: u.rem(25);
      width: u.rem(25);
      height: u.rem(25);
      border-radius: 5rem;
      border-radius: 5rem;
      border: 2px solid transparent;
      margin-right: u.rem(10);
      &:hover {
        cursor: pointer;
        background: linear-gradient(var(--Todos), var(--Todos)) padding-box,
          linear-gradient(to left, var(--Grad-purple), var(--Grad-blue))
            border-box;
      }
    }
    &__desc {
      font-size: u.rem(18);
      display: flex;
      align-items: center;
      margin-right: auto;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;

      min-height: u.rem(15);
    }
    .del-btn {
      width: 20px;
      visibility: hidden;
    }
  }
  .completed {
    .todo__checkbox {
      background: linear-gradient(
            to right,
            var(--Grad-purple),
            var(--Grad-blue)
          )
          padding-box,
        linear-gradient(to right, var(--Grad-purple), var(--Grad-blue))
          border-box;
    }
    .todo__desc {
      color: var(--Completed);
      text-decoration: line-through;
    }
  }
  hr {
    border-color: rgba(199, 187, 194, 0.139);
  }
}
@include u.breakpoint-down(small) {
  .todo-comp {
    width: 85%;
    max-width: u.rem(540rem);
    .todo {
      &__checkbox {
        min-width: u.rem(20);
        width: u.rem(20);
        height: u.rem(20);
      }
      &__desc {
        font-size: u.rem(13);
      }
      .del-btn {
        visibility: visible;
      }
    }
  }
}
