@use '../utils/' as u;
.todo-comp__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-size: u.rem(14);
  font-weight: 600;
  color: var(--Footer-text);
  .filters {
    display: flex;
    &__option {
      padding-inline: u.rem(6);
      &:hover {
        color: var(--Text-hover);
        cursor: pointer;
      }
    }
    .active {
      color: var(--Active);
    }
  }
  .clear-btn:hover {
    cursor: pointer;
    color: var(--Text-hover);
  }
}
@include u.breakpoint-down(small) {
  .todo-comp__footer {
    font-size: u.rem(12);
    position: relative;
    .filters {
      position: absolute;
      display: flex;
      justify-content: center;
      padding: 1rem;
      transform: translate(-25px, 100%);
      border-radius: 5px;
      width: 100%;
      background-color: var(--Todos);
    }
  }
}
